<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../global.css">
    <link rel="stylesheet" href="./styles.css">
    <title>{{titleCase name}}</title>
</head>
<body>
    <header>
        <h1>Operador de Sinais</h1>
        <p>com HTML5 Canvas e JS</p>
    </header>

    <main>
       <img src="" alt="">

        <a href="../index.html">Voltar</a>
    </main>

    <footer></footer>
    <script type="module" src="./scripts.js"></script>
</body>
</html>